* {
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 5px;
  }

  html {
    font-family: "Lucida Sans", sans-serif;
    height: 100%;
  }
  body{
    height: 100%;
  }
  a  {
    text-decoration:none;
  }
  .label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    padding: 15px 8px 8px 8px;
    margin-bottom: 7px;
    background-color: #008CBA;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-height:50px;
  }

  .menu li:hover {
    background-color: #008CBA;
  }

  .aside {
    background-color: #008CBA;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .footer {
    background-color: #008CBA;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%; text-align: center;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%; text-align: left;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
    min-width: 10%;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

  .btn  {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
  }

  .bd{
    background-color: #f44336;
    font-size: 16px;
    width: 100%;
  }

  #bdowload{
    background-color:#4F8A10;
    font-size: 16px;
    width: 100%;
  }

  .bs{
    background-color: #008CBA;
    font-size: 16px;
    width: 100%;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: horizontal;
  }
  input[type=file]{
    width: 100%;
    padding: 12px;
    resize: vertical;
  }
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    background-color: #008CBA;
    color:white;
  }

  /* Style the container */
  .container {
    border-radius: 5px;

    padding: 20px;
  }

  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    background:whitesmoke;
  }
  .col-99 {
    float: left;
    width: 25%;
    margin-top: 6px;
    background:whitesmoke;
  }
  .doccolor{
      background: rgb(221, 220, 220);
  }

  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }





  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .col-h3 {
    float: left;
    width: 30%;
    margin-top: 0px;
    padding-left:15px;
    color:#a5a5a5;
  }

  .background{
    background-color:rgb(236, 236, 236);
  }


  .clear{
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
  }


/* PDF viewer css*/

  #Iframe-Master-CC-and-Rs {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }


  .responsive-wrapper {
    position: relative;
    height: 0;


  }

  .responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: none;
  }

  .responsive-wrapper-wxh-572x612 {
    padding-bottom: 107%;
  }

  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  .success, .error,.message-row {
  margin: 10px 0px;
  padding:12px;

  }
  .error {
    color: #D8000C;
    background-color: #FFD2D2;
    min-width: 100%;
}
.sucess {
    color: #4F8A10;
    background-color: #DFF2BF;
    min-width: 100%;
}

.import{
    background-color: whitesmoke;
    border:solid 0.5px whitesmoke;
}

.full-heigth{
   min-height:100%;
}
.message-row{
    margin:2px;
}

